version: "3.8"

services:
  jackett:
    image: hotio/jackett
    container_name: jackett
    hostname: jackett
    environment:
      - PUID=1001
      - PGID=1041
      - TZ='America/New_York'
      - AUTO_UPDATE=false #optional
      # - RUN_OPTS=<run options here> #optional
      - UMASK=002
    volumes:
      - ./config:/config
      - ./blackhole:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped

networks:
  default:
    external:
      name: bridge
