version: "3.8"

services:
  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    hostname: radarr
    network_mode: host
    environment:
      - PUID=1001
      - PGID=1041
      - TZ='America/New_York'
      - UMASK=002
    volumes:
      - ./config:/config
      - /srv/share:/data
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
